
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="Searchform" (ngSubmit)="searchDb(Searchform.value)">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text"
                           class="form-control"
                           formControlName="search"
                           placeholder="type your search here"
                    />
                </div>
                <div class="col-md-2">
                    <button type="submit" [disabled]="Searchform.invalid" class="btn btn-default pull-right">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
